.dashBOARD{
    -fx-background-image:url("/lk/pos/hospital/assets/architecture-buildings-center-263399.jpg");
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-border-width: 2px 0px 2px 0px;
    -fx-border-radius: 2px;
}