.button{
    -fx-background-color:brown;
    -fx-border-radius: 2px;
}

.mainForm{
    -fx-background-image:url("/lk/pos/hospital/assets/young-smiling-breast-specialist-talking-260nw-1164825466.jpg");
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-border-width: 2px 0px 2px 0px;
    -fx-border-radius: 2px;
}