.button{
    -fx-background-color:brown;
    -fx-border-radius: 3px;
}

.mainForm{
    -fx-background-image:url("/lk/pos/hospital/assets/composition-3309860__340.jpg");
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-border-width: 2px 0px 2px 0px;
    -fx-border-radius: 2px;
}