.button{
    -fx-background-color:red;
    -fx-border-radius: 3px;
}

.mainForm{
    -fx-background-image:url("/lk/pos/hospital/assets/group-medical-staff-discussing-clinic-260nw-788251771.jpg");
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-border-width: 2px 0px 2px 0px;
    -fx-border-radius: 2px;
}