.button{
    -fx-background-color:orange;
    -fx-border-radius: 3px;
}

.mainForm{
    -fx-background-image:url("/lk/pos/hospital/assets/operation-theatre-555088_640.jpg");
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-border-width: 2px 0px 2px 0px;
    -fx-border-radius: 2px;
}

.optionBut{
    -fx-background-color:transparent;
    -fx-border-radius: 3px;
}